	#picker { width: 200px; height: 200px }
    #slide { width: 30px; height: 200px }

      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      textarea {
        height: 100px;
        width:100%;
        max-width: 100%;
        box-sizing:border-box;
        margin:0;
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        resize: none;
      }

      #widearea-container {
        border: 5px solid #eee;
        border-radius: 2px;
        box-shadow: 0px 1px 1px #ddd;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }
      .detail-widearea {
        margin-top: 50px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
      #picker { width: 200px; height: 200px }
    #slide { width: 30px; height: 200px }

      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      textarea {
        height: 100px;
        width:100%;
        max-width: 100%;
        box-sizing:border-box;
        margin:0;
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        resize: none;
      }

      #widearea-container {
        border: 5px solid #eee;
        border-radius: 2px;
        box-shadow: 0px 1px 1px #ddd;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }
      .detail-widearea {
        margin-top: 50px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }

      .gridster * {
        margin:0;
        padding:0;
      }

      ul {
        list-style-type: none;
      }


      /*/
      /* demo
      /*/


      body {
          font-size: 14px;
          font-family: 'Helvetica Neue', Arial, sans-serif;
          color: #444;
          margin: 30px 40px;
      }

      .controls {
          margin-bottom: 10px;
      }

      /*/
      /* gridster
      /*/

      .gridster ul {
          background-color: #EFEFEF;
      }

      .gridster li {
          font-size: 1em;
          font-weight: bold;
          text-align: center;
          line-height: 100%;
      }


      .gridster {
          margin: 0 auto;

          opacity: 1;

          -webkit-transition: opacity .6s;
          -moz-transition: opacity .6s;
          -o-transition: opacity .6s;
          -ms-transition: opacity .6s;
          transition: opacity .6s;
      }

      .gridster .gs-w {
          background: #DDD;
          cursor: pointer;
      }

      .gridster .player {
          background: #BBB;
      }


      .gridster .preview-holder {
          border: none!important;
          background: red!important;
      }