
	    #picker { 
        width: 200px; 
        height: 200px;
        position: absolute;
        left:40px;
      }
      #slide {
        width: 30px;
        height: 200px;
        position: absolute;
      }
      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      textarea {
        height: 125px;
        width:100%;
        max-width: 100%;
        box-sizing:border-box;
        margin:0;
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        resize: none;
      }

      .page-header {
        align-content: center;
      }
      .container {
        width: auto;
        height: auto;
        max-width: 800px;
      }
      .container .credit {
        margin: 20px 0;
      }
      #widearea-container {
        border: 5px solid #eee;
        border-radius: 2px;
        box-shadow: 0px 3px 1px #ddd;
        width:100%;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      #submit {
        height: 20px;
        width: 99%;
        padding:0px;
        background-color: #66A9FF;
        border:1px solid #666;
        color: #000;
      }

      #si-btn {
        border: 0px;
        color: 000;
        background: url('../img/mic.gif');
        position: relative;
        height: 16px;
        width: 16px;
        top: 5px;
      }
      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      .detail-widearea {
        margin-top: 50px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }

      /*/
      /*   Gridster
      /*/

      .gridster * {
        margin:0;
        padding:0;
      }

      ul {
        list-style-type: none;
      }
      body {
          font-size: 14px;
          font-family: 'Helvetica Neue', Arial, sans-serif;
          color: #444;
          margin: 30px 40px;
      }

      .controls {
          margin-bottom: 10px;
      }

      /*/
      /* gridster
      /*/

      .gridster ul {
          background-color: #EFEFEF;
          width: 69.5%;
          margin: auto;
      }

      .gridster li {
          font-size: 1em;
          font-weight: bold;
          text-align: center;
          line-height: 100%;
          border: 3px solid #ccc;
          padding: 5px;
          align-items: center;
      }

      .gridster li#text_grid {
          font-size: 1em;
          font-weight: bold;
          text-align: center;
          line-height: 100%;
          align-items: center;
          padding:0px;
      }
      .gridster {
          margin: 0 auto;
          opacity: 1;
          -webkit-transition: opacity .6s;
          -moz-transition: opacity .6s;
          -o-transition: opacity .6s;
          -ms-transition: opacity .6s;
          transition: opacity .6s;

          height: 42g0px;
          width:  1500px;
      }

      .gridster .gs-w {
          background: #DDD;
          cursor: pointer;
      }

      .gridster .player {
          background: #BBB;
      }
      .gridster .preview-holder {
          border: none!important;
          background: red!important;
      }

